.logoBox {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    background-color: transparent;
    color: #e6edff;
}

.logoBox p {
    font-size: 18px;
    margin: 5px;
}


.logo {
    border-color: #e6edff;
    border-width: 2px;
    border-style: solid;
    height: 80px;
    width: 160px;
    text-align: center;
    display: table;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    justify-content: flex-end;
}

.logo a {
    color: #e6edff;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
}