.shareText {
    position: absolute;
    border-style: none;
    padding: 0px;
    font-size: 20px;
    width: 240px;
    top: 640px;
    left: 480px;
    display: flex;
}

.shareText input {
    width: 100%;
}