.clearMessageLabel {
    position: absolute;
    border-style: none;
    padding: 0px;
    font-size: 20px;
    width: 240px;
    top: 585px;
    left: 480px;
    display: flex;
    color: #000000;
}

.clearMessage {
    position: absolute;
    border-style: none;
    padding: 0px;
    font-size: 20px;
    width: 240px;
    top: 615px;
    left: 480px;
    display: flex;
}

.clearMessage input {
    width: 100%;
}

.shareTextLabel {
    position: absolute;
    border-style: none;
    padding: 0px;
    font-size: 20px;
    width: 240px;
    top: 665px;
    left: 480px;
    display: flex;
    color: #000000;
}

.shareText {
    position: absolute;
    border-style: none;
    padding: 0px;
    font-size: 20px;
    width: 240px;
    top: 695px;
    left: 480px;
    display: flex;
}

.shareText input {
    width: 100%;
}

.shareTextCopyButton {
    background-color: #000000;
    border: 1px solid #000000;
    cursor: pointer;
}

.shareTextCopyIcon {
    display: block;
    width: 18px;
    height: 18px;
}
