.dictionary {
    position: absolute;
    top: 640px;
    left: 560px;
    z-index: 100;
    justify-content: flex-end;
}

.mode {
    width: 160px;
    height: 78px;
    background-color: #202f55;
    border-style: solid;
    border-color: #4463b3;
    border-width: 1px;
    color: #e6edff;
    font-size: 14px;
}


.reload_button {
    position: absolute;
    top: 558px;
    left: 560px;
    z-index: 100;
    color: #e6edff;
    width: 160px;
    justify-content: flex-end;
    display: flex;
    text-align: right;
    justify-content: center;
    align-items: center;
    padding: 0px;

    height: 78px;
    background-color: #202f55;
    border-style: solid;
    border-color: #4463b3;
    border-width: 1px;
    color: #e6edff;
    text-align: center;
    font-size: 20px;
    padding: 0px;
}

.share_button {
    position: absolute;
    top: 558px;
    left: 0px;
    z-index: 100;
    color: #e6edff;
    width: 160px;
    justify-content: flex-end;
    display: flex;
    text-align: right;
    justify-content: center;
    align-items: center;
    padding: 0px;

    height: 78px;
    background-color: #202f55;
    border-style: solid;
    border-color: #4463b3;
    border-width: 1px;
    color: #e6edff;
    text-align: center;
    font-size: 20px;
    margin-right: 3px;
    padding: 0px;
}