.ok {
    position: absolute;
    top: 320px;
    left: 320px;
    width: 80px;
    height: 80px;
    display: inline-block;
    animation: buru .1s infinite;
    text-align: center;
    vertical-align: middle;
    font-size: 45px;
    padding-top: 5px;
}

@keyframes buru {
    0% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }

    25% {
        transform: translate(2px, 2px) rotateZ(0deg)
    }

    50% {
        transform: translate(0px, 2px) rotateZ(0deg)
    }

    75% {
        transform: translate(2px, 0px) rotateZ(0deg)
    }

    100% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }
}