.dictionary {
    position: relative;
    bottom: 56px;
    left: 302px;
    z-index: 100;
    justify-content: flex-end;
}

.mode {
    width: 148px;
    height: 48px;
    background-color: transparent;
    border-style: solid;
    border-color: #4463b3;
    border-width: 1px;
    color: #e6edff;
}

.reload {
    position: relative;
    bottom: 155px;
    left: 300px;
    z-index: 100;
    color: #e6edff;
    width: 150px;
    justify-content: flex-end;
    text-align: right;
}

.reload_button {
    width: 50px;
    height: 48px;
    background-color: transparent;
    border-style: solid;
    border-color: #4463b3;
    border-width: 1px;
    color: #e6edff;
    text-align: center;
}